<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="topnav">
            <a  href="/">Home</a>
            <a href="/create-user" >News</a>
        </div>
        <form class="form-add-new" method="post" action="/delete-user">
            <fieldset>
                <legend>Delete a user</legend>
                <input type="hidden" name="id" value="<%= user.id %>">

                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" value="<%= user.name %>">
                </div>
                <div >
                    <button class="btn-submit" type="submit">
                        Confirm
                    </button>
                </div>
            </fieldset>
        </form>
    </body>
</html>

